<footer class="text-center py-4 mt-auto custom-footer">
  <div class="container">
    <ul class="nav justify-content-center mb-3">
      <li class="nav-item"><a class="nav-link px-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Startseite</a></li>
      <li class="nav-item">
        <span class="nav-link px-2 fw-bold text-white">Kollektion</span>
        <ul class="list-unstyled">
          <li><a class="nav-link px-2" routerLink="/anthurium/collection" routerLinkActive="active">Anthurien</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <span class="nav-link px-2 fw-bold text-white">Pflanzenblog</span>
        <ul class="list-unstyled">
          <li><a class="nav-link px-2" routerLink="/anthurium/blog" routerLinkActive="active">Anthurien</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link px-2" routerLink="/about" routerLinkActive="active">Über Mich</a></li>
      <li class="nav-item"><a class="nav-link px-2" routerLink="/contact" routerLinkActive="active">Kontakt</a></li>
    </ul>
    <p class="mb-0">&copy; 2025 Mige Lin. All rights reserved.</p>
  </div>
</footer>