$nav-link-color: cornflowerblue;
$nav-link-hover-color: #fff;
$nav-tabs-link-active-color: darkkhaki;

.nav-link {
  color: $nav-link-color;

  &:hover {
    color: $nav-link-hover-color;
  }

  &.active {
    color: $nav-tabs-link-active-color;
  }
}

.nav-link {
  &.active {
    color: $nav-tabs-link-active-color;
  }
}

.custom-navbar {
    padding-top: 60px;
}