.title {
  color: cornflowerblue;
  padding-top: 20px;
}

.background-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.highlight-wrapper {
  background-size: cover;
  background-position: center;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  height: 530px;
  object-fit: cover;
  object-position: center 35%;
}

.carousel-container {
  padding-top: 7.5rem;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
}