@font-face {
  font-family: 'source-code-pro-extrabold-italic';
  src: url('/assets/fonts/SourceCodePro-ExtraBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.title {
  color: cornflowerblue;
  padding-top: 20px;
}

.background-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.highlight-wrapper {
  background-size: cover;
  background-position: center;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  height: 530px;
  object-fit: cover;
  object-position: center 35%;
}

.carousel-container {
  padding-top: 3.2rem;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
}

.carousel-caption a {
  text-decoration: none;
  font-weight: 500;
  color: white;
  font-family: 'source-code-pro-extrabold-italic' !important;
}

.carousel-caption a:hover {
  text-decoration: underline;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}