.background-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: whitesmoke;
  padding: 2rem;
  gap: 2rem;
}

.about-text {
  flex: 1;
  max-width: 600px;
}

.about-image-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.about-img {
  max-width: 50%;
  max-height: 50%;
  height: auto;
  width: auto;
  object-fit: contain; 
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}