.background-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.about-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  color: whitesmoke;
  padding: 2rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.about-text {
  flex: 1;
  max-width: 200px;
  text-align: center;
  padding-top: 8px;
}

.about-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.about-img {
  max-width: 60%;
  max-height: 60%;
  height: auto;
  width: auto;
  object-fit: contain; 
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}