.background-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: whitesmoke;
}

.video-thumb-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.play-icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
  opacity: 0.8;
  fill: orangered
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
}

.carousel-caption p {
  margin-bottom: 5px;
}

.plant-care-list li {
  margin-bottom: 20px;
}