.plant-card {
    width: 20rem;
    padding: 1.25rem;
    background: #2d2f34;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    margin: 5rem;
}

.plant-card:hover {
    cursor: pointer;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.image-wrapper img {
    border-radius: 8px;
    object-fit: cover;
}