.container {
    width: 100%;
    margin: 0 auto;
    display: block;
}

body {
    background-color: lightgreen;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

.nav-link:hover {
    font-weight: bold;
}

.custom-search::placeholder {
    color: gray;
}

.navbar {
    background-color: lightgreen; /* Change to your desired color */
}

.normal-div {
    border-style: solid;
    margin: 20px;
    padding: 20px;
    background-color: bisque;
}

.normal-div>div {
    border-style: solid;
    margin: 20px;
    padding: 20px;
    background-color: lightgreen;
}

.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling on iOS */
}

table {
    width: 100%;
    border-spacing: 20px 10px;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
}

li {
    padding-bottom: 15px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.responsive-img {
    width: 100%;
    /* Make image scale with its container */
    height: auto;
    /* Maintain aspect ratio */
    max-width: 500px;
    /* Do not grow beyond 800px */
    min-width: 200px;
    /* Do not shrink below 300px */
    display: block;
    /* Remove extra space below image */
}

#name {
    margin-left: 20px;
    color: darkslategray;
}

/* Small devices (phones, less than 600px) */
@media (max-width: 599px) {
    .container {
        background-color: lightblue;
    }

    .navbar {
        background-color: lightblue;
        /* Change to your desired color */
    }
}

/* Medium devices (tablets, 600px and up) */
@media (min-width: 600px) and (max-width: 1023px) {
    .container {
        background-color: lightsalmon;
    }

    .navbar {
        background-color: lightsalmon;
        /* Change to your desired color */
    }
}